<div class="watch-movies-page">
	

<div class="col-md-9">
<div class="title">
	<h3>{{movies[getparamId].title}} - ({{movies[getparamId].released}})</h3>
</div>


<div>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 8px 10px #777;">
      <!-- <iframe src="{{'http://watchlist.co.nf/html5-video-player?link=' +moviesLink(getparamId) +'&poster=' +moviesPoster(getparamId)}}" allowfullscreen></iframe> -->

      <iframe src="{{moviesplayer()}}" frameborder="0" allowfullscreen></iframe>
    </div>

        
</div>


	
</div>


<div class="col-md-3" ng-controller="NavigationController">
	<h1>Side Navigation</h1>
	<ul style="padding-left:0;">
		<li ng-repeat="nav in navigation.sideNav">
			<a href="{{nav.link}}" style="color:{{nav.color}};">{{nav.nav}}</a>
		</li>
	</ul>
</div>

</div>

