<div class="watch-series-page">

<div class="col-md-9">
<div class="title">
<h3>{{tvseries[getparamId].title}} - {{tvseries[getparamId].episodeTitle}}(S{{tvseries[getparamId].season}}-E{{tvseries[getparamId].episode}})</h3>
</div>

<div>
	
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 8px 10px #777;">
  <!-- <iframe src="{{'http://watchlist.co.nf/html5-video-player?link=' +seriesLink(getparamId) +'&poster=' +seriesPoster(getparamId)}}" allowfullscreen></iframe> -->

  <iframe width="560" height="315" src="http://watchlist.co.nf/html5-video-player?link=http://198.7.59.78:8777/bwcegmj6gw4pcnokal3cbmg77bzhprmkirfmzxls2iammnjsat65sn3fha/v.mp4&poster=https://lh3.googleusercontent.com/xTiYXcO27IltRrWxuoKl5Onz9N86ICkHZOlaHrMlDcc=w280-h400-no" frameborder="0" allowfullscreen></iframe>
</div>


</div>

 <!-- <div class="video-player" seriesplayer ></div> -->

</div>

<div class="col-md-3" ng-controller="NavigationController">
	<h1>Side Navigation</h1>
	<ul style="padding-left:0;">
		<li ng-repeat="nav in navigation.sideNav">
			<a href="{{nav.link}}" style="color:{{nav.color}};">{{nav.nav}}</a>
		</li>
	</ul>
</div>

</div>

